body{
    background-color:rgb(212, 208, 245);
}

.navbar #head1 {
    position: absolute;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 26px;
    top: 40px;
    left: 190px;
    display: flex;
    justify-content: center;
}
.navbar li {
    list-style: none;
    font-size: 16px;
}
.sec1 {
    text-align: initial;
    width: 345px;
    height: 131px;
    font-size: 20px;
    position: absolute;
    top: 157px;
    left: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar li a {
    text-decoration: none;
    padding: 0px;
    margin: 11px;
    padding-top: 4px;
    color: white;
}


.sec-13 .container button {
    position: relative;
    top: 15px;
    left: 53px;
    padding: 8px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    padding-left: 50px;
    padding-right: 50px;
    font-family: cursive;
    background-color: rgb(67, 67, 196);
    transition: all 0.2s ease-in-out;
}


.sec-2 #head3 {
    text-align: center;
    position: relative;
    top: 40px;
    font-size: 28px;
    font-weight: bolder;
}
.sec-4 p {
    position: relative;
    top: 11px;
    font-size: 24px;
}
.sec-3 img {
    height: 193px;
}
.sec-5 .con i {
    position: relative;
    left: 14px;
    top: 20px;
}
.sec-5 .con h4 {
    text-align: center;
    font-size: 13px;
    position: relative;
    left: 8px;
}
.sec-5 .btn3 {
    padding: 5px;
    position: relative;
    right: -9px;
    top: 10px;
    background-color: yellow;
    font-weight: bolder;
    font-family: cursive;
    cursor: pointer;
    border-radius: 8px;
    transition: all 1s ease-in-out;
}

.sec6head{
    text-align: center;
    
    font-size: 29px;
    font-weight: bolder;
    position: relative;
    top: 68px;
}

.sec-6 {
    width: 100%;
    height: 1350px;
    position: relative;
    top: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec-6 .box {
    height: 250px;
    width: 60%;
    margin: 10px;
    border-radius: 10px;
    padding: 8px;
    transition: all 0.6s ease-in-out;
}

.sec-6 .box .content p {
    text-align: center;
    font-size: 16px;
    font-family: cursive;
}
.sec-7 .boxcon {
    width: 100%;
    height: 241px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec-7 .sec-7p h1 {
    position: relative;
    bottom: 41px;
}

.sec-7 .box1 h3 {
    font-size: 18px;
    margin: 2px;
}
.sec-7 .box1 {
    width: 23%;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec-7 .sec-7p {
    width: 100%;
    height: 73px;
    position: relative;
    bottom: 0px;
    text-align: center;
    font-size: 28px;
}
.sec-8 .container {
    width: 100%;
    height: 1500px;
    position: relative;
    top: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(134, 48, 134);
    flex-direction: column;
    right: 0px;
}
.sec-8 .container .box2{
    width: 70%;
    height: 450px;
    margin: 10px;
    object-fit: cover;
    transition: all 1s ease-in-out;
    border-radius: 20px;

}
.sec-9 .container .box3 {
    width: 25%;
    height: 200px;
    margin: 20px;
    border-radius: 50%;
    transition: all 1s ease-in-out;
}
.sec-9 .container .box3:hover {
    width: 30%;
    height: 240px;
}
.sec-10 h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    position: relative;
    top: 75px;
}
.sec-10 .slides .box4 {
    width: 80%;
    height: 450px;
    position: relative;
    background-image: url(slide1.jpg);
    animation: slide 30s ease-in-out infinite;
    border-radius: 20px;
}
.sec-11 h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    position: relative;
    color: white;
    bottom: 72px;
    left: 121px;
}


.sec-11 .container input {
    position: relative;
    right: 153px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.sec-11 input[type='button']{
    text-align: center;
}
.sec-12 h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    position: relative;
    top: 77px;
}
.sec-12 .container .box3 img {
    width: 100%;
    height: 80px;
    border-radius: 10px;
}
.sec-12 .box3 .content h2 {
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}
.sec-12 .content p {
    text-align: center;
    font-size: larger;
    font-family: fantasy;
    font-size: 9px;
    line-height: 15px;
}
.sec-12 .box3 .content button {
    position: relative;
    top: 15px;
    left: 5px;
    padding: 5px;
    color: black;
    font-weight: lighter;
    cursor: pointer;
    font-family: fantasy;
    background-color: yellow;
    transition: all 0.8s ease-in-out;
}
.sec-13 .container{
    width: 100%;
    height: 1200px;
    position: relative;
   
    top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    
    
}
.sec-13 .container .map{
    width: 100%;
    height: 600px;
   
}
.sec-13 .container .map iframe{
    width: 100%;
    height: 600px;
    
}
.sec-14 h3 {
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 12px;
}
.sec-14 p {
    text-align: center;
    color: white;
    font-size: 9px;
}
.sec-14 .box1 a{
    text-decoration: none;
    margin: 5px;
    font-size: 12px;
    transition: all 0.5s ease-in-out;
    
}
.sec-14{
    width: 100%;
    height: 90px;
 
    position: relative;
    top: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.sec-9 h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    position: relative;
    top: 75px;
}
.btn1{
    padding: 8px;
    background-color: yellow;
    border-radius: 2px;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    top: 120px;
    cursor: pointer;
    transition: all 1s ease-in-out;

}
.btn2{
    padding: 8px;
    background-color: yellow;
    border-radius: 2px;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    top: 120px;
    left: 130px;
    cursor: pointer;
    transition: all 1s ease-in-out;

}